# Pandas

Para trabalhar com o Pandas, deve se conhecer duas estruturas: Series e DataFrame.
Para importar:**import pandas as pd**
ou **from pandas import Series, DataFrame**
Para atualizar o Pandas, abra o prompt de comando ou terminal e digite: **pip install pandas -U

# Series

Series é um array unidimensional que contém um array de dados e um array de labels, chamado indice.

In [1]:
from pandas import Series

In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.1.3'

In [5]:
# Criando uma série sem especificar os índices
obj = Series([67, 78, -56, 13])

In [6]:
obj

0    67
1    78
2   -56
3    13
dtype: int64

In [7]:
type(obj)

pandas.core.series.Series

In [8]:
obj.values

array([ 67,  78, -56,  13])

In [9]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
# Criando uma série e especificando os índices
obj2 = Series([67, 78, -56, 13], index = ['a', 'b', 'c', 'd'])

In [11]:
obj2

a    67
b    78
c   -56
d    13
dtype: int64

In [12]:
obj2.values

array([ 67,  78, -56,  13])

In [13]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [14]:
obj2[obj2 > 3]

a    67
b    78
d    13
dtype: int64

In [18]:
obj2['b']

78

In [19]:
'd' in obj2

True

In [28]:
# Criando uma série de dados passando um dicionário como parâmetro
dict = {'Futebol': 5200, 'Tenis': 120, 'Natacao': 698, 'Volleyball': 1550}

In [29]:
# Criando uma série a partir de um dicionário
obj3 = Series(dict)

In [30]:
obj3

Futebol       5200
Tenis          120
Natacao        698
Volleyball    1550
dtype: int64

In [31]:
type(obj3)

pandas.core.series.Series

In [32]:
# Criando uma lista
esportes = ['Futebol', 'Tenis', 'Natacao', 'Basketball']

In [33]:
# Criando uma serie e usando uma lista como índice
obj4 = Series(dict, index=esportes)

In [34]:
obj4

Futebol       5200.0
Tenis          120.0
Natacao        698.0
Basketball       NaN
dtype: float64

In [35]:
pd.isnull(obj4)

Futebol       False
Tenis         False
Natacao       False
Basketball     True
dtype: bool

In [36]:
pd.notnull(obj4)

Futebol        True
Tenis          True
Natacao        True
Basketball    False
dtype: bool

In [37]:
obj4.isnull()

Futebol       False
Tenis         False
Natacao       False
Basketball     True
dtype: bool

In [39]:
# Concatenando Series
obj3 + obj4

Basketball        NaN
Futebol       10400.0
Natacao        1396.0
Tenis           240.0
Volleyball        NaN
dtype: float64

In [40]:
obj4.name = 'populacao'

In [41]:
obj4.index.name = 'esporte'

In [42]:
obj4

esporte
Futebol       5200.0
Tenis          120.0
Natacao        698.0
Basketball       NaN
Name: populacao, dtype: float64